body {
    background-color: #5584AC;
}

/* 
.drop_position {
    
} */

/* Affichage de toute la liste cours */
#liste_cours {
    padding: 10px 50px 10px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
}

/* Gère l'affichage de l entête de la page */
.entete_cours {
    margin-bottom: 10px;
}
/* change le titre de l entête */
.entete_cours h5 {
    color: #FFFFFF;
    margin: 5px;
    font-size: 18px;
}


/* Affichage d'une carte du cours */
#miniature_cours {
    border: solid black 1px;
    background-color: #000000;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

/* Texte des miniatures */
#miniature_cours p {
    color: #FFFFFF;
    margin: 0px;
    font-size: 15px;
}


.img_cours {
    align-self: center;
    /* aligne l'image au centre */
    margin: 10px;
}

/* PARTIE DROITE DE LA CARTE */
.infos_cours {
    width: 50%;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
}

.div2 {
    grid-area: 2 / 1 / 3 / 3;
}

.div3 {
    grid-area: 2 / 3 / 3 / 5;
}

.div4 {
    grid-area: 3 / 1 / 4 / 4;
}

.div5 {
    grid-area: 3 / 4 / 4 / 4;
    align-self:flex-end; /* Met le bouton en bas du bloc */
}