{% extends 'base.html.twig' %}


{% block title %} Nos cours {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/> {# base  --> VOIR SI POSSIBLE DE METTRE SUR LA BASE #} 
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}"/>  
{% endblock %}




{% block body %} 

  {% block header %}
    {% include './composants/header.html.twig' %}
  {% endblock %}

  <div>
    <h3> Ici vous avez accès a l'enssemble des cours</h3>
  </div>

  <div>
    <p> Accès au cours :</p>
    <button><a href="{{ path('app_edit_cours_index') }}">Afficher les cours</a></button>  
  </div>

  {% block footer %}
    {% include './composants/footer.html.twig' %}
  {% endblock %}

{% endblock %}