{% extends 'base.html.twig' %}


{% block title %} Nos cours {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/> {# base  --> VOIR SI POSSIBLE DE METTRE SUR LA BASE #} 
    <link rel="stylesheet" href="{{ asset('css/dropdown_trie_cours.css') }}"/> {# style du bouton trie #}    
    <link rel="stylesheet" href="{{ asset('css/card_cours.css') }}"/> {# style carte cours #}
{% endblock %}



{% block body %}

    <header> {% include './composants/header.html.twig'%} </header>    

    <div id="liste_cours">

        <div class="entete_cours" >
            <h5> Cours </h5>
            {% include './composants/trie_cours.html.twig' %}
        </div>

        {% include './composants/carte_cours.html.twig' %} 

        {% include './composants/carte_cours.html.twig' %}

        {% include './composants/carte_cours.html.twig' %}

        {% include './composants/carte_cours.html.twig' %}

        {% include './composants/carte_cours.html.twig' %}

        {% include './composants/carte_cours.html.twig' %}

    </div>

    <footer> {% include './composants/footer.html.twig'%} </footer>

{% endblock %}



