{% extends 'base.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
    <h1>Create new Cours</h1>

    {{ include('edit_cours/_form.html.twig') }}

    <a href="{{ path('app_edit_cours_index') }}">back to list</a>
{% endblock %}
