    <header>
        {% block header %}

    <nav class="nav">        
        {% block navbar %}
        <div class="header">
    <img src="{{ asset('images/adrar-classrooms-logo.png') }}" alt="Logo" class="logo" />
    <h1>Classrooms</h1>
        <ul class="navbar">
            <a href="">Accueil</a>
            <a href="">Formations</a>
            <a href="">Administration</a>
        </ul>
             <img src="{{ asset('images/magnifying-glass-solid.svg') }}" alt="icon" class="icon" style=" fill: #ff0000; cursor: pointer;" />

<div id="search-container" style="display: none;">
    <form action="" method="POST">
     <button type="button" id="search-button">
            <img src="{{ asset('images/magnifying-glass-solid.svg') }}" alt="icon" class="icon" style=' cursor: pointer;' />
        </button>
        <input type="text" name="q" placeholder="Recherche..." />
    </form>
</div>
<button type="button" class="login">Se connecter</button>
</div>
        {% endblock %}
    </nav>

        {% endblock %}
        </header>