{% block trie_cours %}
    <div class="dropdown">
        <button class="drop_btn"> 
            <div><p>Langages    </p></div>                     
            <div><img src="{{ asset('images/chevron-up-solid.svg') }}" alt="arrow icon" class="arrow_trie"/></div>                
        </button>

        <div class="dropdown-content">
            <a href="#cours1" value="symfony">Symfony</a>
            <a href="#cours2">PHP</a>
            <a href="#cours3">CSS</a>
        </div>
    </div>
{% endblock %}